#background-intro{
    width: 100%;
    position: fixed;
    top:0;
    z-index: 0;

    animation: fade-in 1s ease-in;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(3, 3, 46)!important;
}

#wrapper{
    width: 400px;
    height: 60%;
    position:absolute;
    top:10%;
}

#paragraph {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 300;

    animation: fade-in 1s ease-out;
}
#paragraph-project {
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 300;
    text-indent: 1em;
    animation: fade-in 1s ease-out;
}


h1{
    font-family: 'Black Han Sans', sans-serif!important;
}

h2{
    margin-left: 5%;
}

#github{
    text-decoration: underline!important;
    color: black!important; /* 링크의 색상 제거 */
}

#main-container{
    z-index: 10;
    position: fixed;
    top: 0px;
    right: 20%;
	width: 500px;
	height: 1080px;

    font-weight: 700;
    font-size: 2rem;
    font-family: 'Black Han Sans', sans-serif;

	line-height:24px;
	letter-spacing:0;
	color:#000;
	margin:auto;
    border: #ffffff;
    border-right: 10px;
    border-left: 10px;
	background-color: hsla(0,0%,100%,.9);

    animation: slide-left 1s ease-out;
}

#introduction-container{
    z-index: 10;
    position: relative;
    top: 0;
	width: 750px;
    height: auto;
    min-height: 100%;

    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Noto Sans KR', sans-serif;

	color:#000;
	margin:auto;
	background-color: hsla(0,0%,100%,.9);
}


#intro-content {

    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);

    padding: 10px;
    font-family: serif;
    font-size: 2rem;
    padding: 3rem;
    border-radius: 10px;
    background: white;
    width: 700px;

}

#teamname{
    font-weight: 100;
    border-bottom: 1rem black;
    margin-bottom: 1rem;

}

.Teammate{
    margin-top:20% ;
}

/* hover 버튼 예시 */
.button {
    background-color:hsla(0,0%,100%,.0);
    border-color: #125B50;
    box-shadow: 0px 0px 20px gray;
    color: #125B50;
    transition-duration: 0.4s;
    width: 250px;
    border-radius: 30px 0px 30px 0px;
}

#mainpagebutton{
    width: 300px;
    height: 120px;
}
  
.button:hover {
    background-color: rgba(10, 54, 50, 0.8) ; /* Green */
    box-shadow: 0px 0px 20px #F8B400;
    border-color: #F8B400;
    color: #F8B400;
}

a {
    text-decoration: none!important;
    color: white!important;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes slide-left {
    from{
        right: -30%;
    }to{
        right: 20%;
    }
}

@keyframes slide-up {
    from{
        top: 0%;
    }to{
        top: -100%;
    }
}
